/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/app/assets/components/polymer
/app/assets/components/webcomponentsjs

/app/assets/components/**/test
/app/assets/components/**/demo
/app/assets/components/**/bin
/app/assets/components/**/doc
/app/assets/components/**/man
/app/assets/components/**/examples
/app/assets/components/**/bower.json
/app/assets/components/**/package.json
/app/assets/components/**/Gruntfile.js
/app/assets/components/**/gulpfile.js
/app/assets/components/**/index.html
/app/assets/components/**/README.md
/app/assets/components/**/LICENSE
/app/assets/components/**/CONTRIBUTING.md
/app/assets/components/**/hero.svg
